@mixin transition($t){
    -webkit-transition: $t; 
    -moz-transition: $t; 
    -ms-transition: $t; 
    -o-transition: $t; 
    transition: $t;
}
$subMenuWidth : 160px;
$screenWidth: 650px;
$s : 1px 1px 4px 0px rgba(50, 50, 50, 0.72);

.mainmenu, .submenu {
    -webkit-box-shadow: $s;
    -moz-box-shadow:    $s;
    box-shadow:         $s;
  
}

.mainmenu {
    background:cornflowerblue;
    padding:0;
    margin: 0;
    span{
        position: absolute;
        left:80%;
        font-size: small; 
    } 
    a {
        text-decoration: none;
        padding-top: 10px;
        padding-bottom: 10px;
        display: block; 
        color:white;
        font-weight: bold;
    }
    li{
        list-style: none;
        text-align: center;
        @include transition(background-color 0.2s ease);
        &:hover {
            background-color: lightskyblue;
            > a{
                color:lemonchiffon;
            }
        }
    }
    > li{
        display:inline-block;
        width: $subMenuWidth;
       
    }
    @media screen and (max-width: $screenWidth) {
        width:100%;
        > li{
            display:block;
            width:100%;
             min-width:$subMenuWidth /2;
        }
    }
} 

.dropdown{
    position: relative;
    &:hover{
        > .submenu {
            visibility: visible;
            opacity:1;
        } 
    }
    @media screen and (max-width: $screenWidth) {
        &:hover{
            > .submenu {
                visibility: visible;
                position: relative;
                opacity:1;
            } 
        }
    }
} 

.submenu {
    left: 0;
    padding: 0;
    opacity:0.0;
    width:$subMenuWidth;
    position: absolute;
    visibility: hidden;
     background:red;
    @include transition(opacity 2s ease);
    @media screen and (max-width: $screenWidth) {
        width:100%;
  
    

    }
}
.submenu_right{
    top: 0;
    left: $subMenuWidth; 
    @media screen and (max-width: $screenWidth) {
        left: 0;
    }
}